#
# cgit config
# see cgitrc(5) for details

css=/cgit.css
logo=/cgit.png

# source highlighting
source-filter=/usr/lib/cgit/filters/syntax-highlighting.py

# Display README.md files (located with your repos) in HTML (like github)
readme=:README.md
readme=:README
about-filter=/usr/lib/cgit/filters/about-formatting.sh

# Specify some default clone urls using macro expansion
clone-url=https://$HTTP_HOST/$CGIT_REPO_URL git://{{ gitolite_clone }}:$CGIT_REPO_URL ssh://{{ gitolite_clone }}/$CGIT_REPO_URL

# enable git blame
enable-blame=1

# use information from gitolite
enable-git-config=1

# Show extra links for each repository on the index page
enable-index-links=1

# Enable ASCII art commit history graph on the log pages
enable-commit-graph=1

# Show number of affected files per commit on the log pages
enable-log-filecount=1

# Show number of added/removed lines per commit on the log pages
enable-log-linecount=1

# enable mimetypes
enable-html-serving=1

# enable stats page
max-stats=year

# no .git suffix please
remove-suffix=1

# common mimetypes
mimetype-file=/etc/mime.types

# download repo as tar.*
snapshots=tar.gz tar.xz zip

project-list=/srv/git/projects.list
scan-path=/srv/git/repositories

virtual-root=/
