# {{ ansible_managed }}

server {
    listen 80;
    listen [::]:80;
    server_name {{ znc_subdomain }};

    include snippets/letsencrypt.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ znc_subdomain }};

    ssl_certificate         /etc/letsencrypt/live/{{ znc_subdomain }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ znc_subdomain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ znc_subdomain }}/chain.pem;

    location / {
        proxy_pass       http://localhost:7778;
        proxy_set_header Host            $host;
        proxy_set_header X-Real-IP       $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
